.row i {
	font-size: 30px;
	width: fit-content  ;
}

.row.text-muted :hover {
    background: gainsboro;
}

.col-sm-4  {
    padding: 10px;
    border-right-style: inset;
    border-right-width: 1px;
}

.no-border {
    border: 0;
}

.chart-container {
    width: 50%;
}

.row {
    margin-bottom: 30px;
}
