{% extends 'admin/layout.html' %}
{% block body %}
<div class="row">
    <div class="table-responsive" style="margin : 20px; width : 95%">
        <h1>Author List:</h1>
        {% if value_search %}
        <h1>Results for {{ value_search }} </h1>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('admin.author_searching') }}" method="POST">
            <input name="input-search-author" class="form-control mr-sm-2" type="search" placeholder="Name"
                aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 " type="submit">Search / Reload</button>
        </form>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Author ID</th>
                    <th class="text-center">Author Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td class="text-center">{{ item.AuthorID }}</td>
                    <td class="text-center">{{ item.Name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}