{% extends 'admin/layout.html' %}
{% block body %}
<div class="row">
    <div class="table-responsive" style="margin : 20px; width : 95%">
        <h1>Book Management:</h1>
        {% if value_search %}
        <h2>searching for: {{ value_search }}</h2>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('admin.book_searching') }}" method="POST">
            <input name="input-search-book" class="form-control mr-sm-2" type="search" placeholder="..."
                aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 " type="submit">Search / Reload</button>
        </form>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Cover</th>
                    <th class="text-center">Book ID</th>
                    <th class="text-center">ISBN</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr data-order-id="{{ item.OrderID }}">
                    <td><img src="{{ item.ImgUrl }}"></td>
                    <td class="text-center">{{ item.BookID }}</td>
                    <td class="text-center">{{ item.ISBN }}</td>
                    <td class="text-center">{{ item.Title }}</td>
                    <td class="text-center">{{ item.Price }}</td>
                    <td><button type="button" class="btn-admin-ordered-process btn btn-success btn-sm" data-toggle="modal"
                            data-target="#modal-admin-ordered-process">process</button></td>
                    <td><button type="button" class="btn-admin-ordered-detail btn btn-info btn-sm" data-toggle="modal"
                            data-target="#modal-admin-ordered-detail">detail</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}