<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bore Stook</title>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='image/logo/icon-logo-2.png') }}" type="image/x-icon">
    <!-- Bootstrap CSS Core -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Jquery Core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Popper Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Bootstrap Javascript Core -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Font Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Bore Stook Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <!-- Bore Stook Custom Javascript -->
    <script src="/static/js/jquery.js"></script>
</head>

<body id="bootstrap-overrides">
    <div class="admin-menu">
        <div class="menu-title div-center">
            <div class='text-center logo'>
                <a>BORE STOOK</a>
            </div>
        </div>
        <div class="menu-content">
            <div class="menu-list">
                <div class="menu-item active">
                    <a href="/admin_dashboard/chart">
                        <i class="fas fa-chart-pie"></i>
                        Chart
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/admin_dashboard/user_management">
                        <i class="far fa-user-circle"></i>
                        User Management
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/admin_dashboard/order_management">
                        <i class="fas fa-clipboard-list"></i>
                        Order Management
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/admin_dashboard/book_management">
                        <i class="fas fa-book-open"></i>
                        Book Management
                    </a>
                </div>
                

            </div>
        </div>
    </div>

    <div class="admin-container">
        {% block body %} {% endblock %}
    </div>
</body>

</html>