{% extends 'admin/layout.html' %}
{% block body %}
<div class="row">
    <div class="table-responsive" style="margin : 20px; width : 95%">
        {% if count %}
        <h1>Customer Management: including {{ count }} customers</h1>
        {% else %}
        <h1>Customer Management: searching {{ value_search }} </h1>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('admin.user_searching') }}" method="POST">
            <input name="input-search-user" class="form-control mr-sm-2" type="search" placeholder="Customer's Mail"
                aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 " type="submit">Search / Reload</button>
        </form>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Customer ID</th>
                    <th class="text-center">Customer's Email</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr data-user-id="{{ item.UserID }}">
                    <td class="text-center">{{ item.UserID }}</td>
                    <td class="text-center">{{ item.Email }}</td>
                    <td>{{ item.FirstName }}</td>
                    <td>{{ item.LastName }}</td>
                    <td class="text-center">{{ item.Phone }}</td>
                    <td class="div-center"><button type="button" class="btn-set-password btn btn-success btn-sm">set default password</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}