{% extends 'layout.html' %}
{% block body %}
<div class="cart-container div-center">
    <table id="cart" class="table table-hover table-condensed">
        <!--header of table-->
        <thead>
            <tr>
                <th style="width:55%">Items</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <!--List product-->
        <tbody id="cart-data">
        </tbody>
        <!--Footer of table-->
        <tfoot>
            <tr>
                <td><a href="/home" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong id="total-price"></strong></td>
                <td><a href="/checkout" class="btn btn-success"><i class="fa fa-angle-right"></i> Continue Shopping</a></td>
            </tr>
            <tr>
                <td><button id="clear-cart" class="btn btn-danger">Clear Cart</button></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong id="num-items"></strong></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}