{% extends 'layout.html' %}
{% block body %}
<div class="text-center">
    <h3>Today</h3>
    <hr>
    <div class="row text-muted">
        <div class="col-sm-4 no-padding border-right">
            <i class="fas fa-shopping-cart"></i>
            <h2>100</h2>
            <p>Orders</p>
        </div>
        <div class="col-sm-4 no-padding">
            <i class="fas fa-book"></i>
            <h2>100</h2>
            <p>Books</p>
        </div>
        <div class="col-sm-4 no-padding border-left">
            <i class="fas fa-money-bill"></i>
            <h2>100</h2>
            <p>Sales</p>
        </div>
    </div>
    <hr>
    <h3>Yesterday</h3>
    <hr>
    <div class="row  text-muted">
        <div class="col-sm-4 no-padding border-right">
            <i class="fas fa-shopping-cart"></i>
            <h2>100</h2>
            <p>Orders</p>
        </div>
        <div class="col-sm-4 no-padding">
            <i class="fas fa-book"></i>
            <h2>100</h2>
            <p>Books</p>
        </div>
        <div class="col-sm-4 no-padding border-left">
            <i class="fas fa-money-bill"></i>
            <h2>100</h2>
            <p>Sales</p>
        </div>
    </div>
    <hr>
</div>
<div class="row">
    <div id="top5booksChart" style="height: 300px; width: 50%;"></div>
    <div id="salesChart" style="height: 300px; width: 50%;"></div>
</div>
{% endblock%}