{% extends 'layout.html' %}
{% block body %}
<div class="contianer">
    <div class="row">
        <div class="table-responsive">
            <div class="container">
                <h2>Customer: {{ current_user.get_fullname() }}</h2>
                <h3>Email: {{ current_user.Email}}</h3>
            </div>
            <h1>Ordered History:</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Ordered Date Time</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Total Price</th>
                        <th class="text-center">Paid</th>
                        <th class="text-center">Payment Method</th>
                        <th class="text-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items.items %}
                    <tr data-order-id="{{ item.OrderID }}">
                        <td>{{ item.OrderID }}</td>
                        <td class="text-center">{{ item.Date }}</td>
                        <td>{{ item.Address }}</td>
                        <td class="text-center">{{ item.Phone }}</td>
                        <td class="text-center">${{ item.TotalPrice }}</td>
                        <td class="text-center">{{ item.NamePaid }}</td>
                        <td class="text-center">{{ item.NamePayment }}</td>
                        <td class="text-center">{{ item.NameStatus }}</td>
                        <td><button type="button" class="btn-more-ordered-detail btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modal-more-ordered-detail">more</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <section id="page-num">
                <div>
                    {% for page_num in items.iter_pages(left_edge = 1, right_edge = 1, left_current = 3, right_current
                    = 3) %}
                    {% if page_num %}
                    {% if items.page == page_num %}
                    <a class="btn btn-info mb-2" href="{{ url_for('user.ordered_history', page = page_num) }}">{{
                        page_num }}</a>
                    {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('user.ordered_history', page = page_num) }}">{{
                        page_num }}</a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Modal for orderd detail-->
<div class="modal fade" id="modal-more-ordered-detail" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" id="modal-content-more-ordered-detail">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-condensed">
                    <!--header of table-->
                    <thead>
                        <tr>
                            <th class="text-center" style="width:15%">Items</th>
                            <th class="text-center" style="width:40%">Title</th>
                            <th class="text-center" style="width:15%">Price</th>
                            <th class="text-center" style="width:15%">Quantity</th>
                            <th class="text-center" style="width:15%" class="text-center">Subtotal</th>
                        </tr>
                    </thead>
                    <!--List product-->
                    <tbody id="tb-body-ordered-detail">
                    </tbody>
                    <!--Footer of table-->
                    <tfoot>
                        <tr>
                            <td class="hidden-xs text-center"><strong id="num-items"></strong></td>
                            <td colspan="3" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong id="total-price"></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}