html, body{
  margin:0 !important;
  padding:0 !important;
}

#bootstrap-overrides .my-container {
	padding: 0;
	margin: 0;
	width: 100%;
	background: url(/static/image/background/body-background.jpg);
}

/* ---------------------------------------------- navigation bar */
#my-navbar {
	position: fixed;
	width: 100%;
	transition: .3s;
}

#my-navbar a {
	text-transform: uppercase;
	line-height: 50px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	transition: .3s;
	font-weight: bold;
	font-family: QuickSand;
}

#my-navbar img {
	border-radius: 100px;
}

#my-navbar .active {
	background: #E2472f;
	border-radius: 10px;
}

nav.black {
	background-color: black;
	opacity: 0.6;
	height: 80px;
	border-radius: 10px;
}

/* ---------------------------------------------- background section */
#top-background {
	background: url(/static/image/background/books-wallpaper.jpg);
	height: 100vh;
	border-radius: 0 300px 25px 300px;
	background-position: center;
	background-size: cover;
}

/* ---------------------------------------------- search box */
#search-box {
	margin: 10px 5px 0 5px;	
	border-radius: 0 300px 100px 0;
	display: flex;
	height: 130px;
	border-style: double;
	border-width: 5px;
	border-color: green;
	border-radius: 10px;
}

#search-box input {
	border-radius: 40px;
	width: 600px;
}

#search-box form button {
	margin-right: 5px;
	border-radius: 5px;
}

#search-box img {
	border-radius: 0 300px 100px 0;
	border-width: 5px;
	border-color: orange;
}

/* ---------------------------------------------- advance search box */
.search-modal {
	width: 800px;
	height: 500px;
	position: absolute;
	top: 100vh;
	justify-content: center;
	display: none;
}

.search-modal-content {
	width: 700px;
	height: 400px;
	background: whitesmoke;
	background-position: center;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
}

.btn-danger {
	float: right;
}

.div-center {
	display: flex;
	justify-content: center;
}


/* ---------------------------------------------- flash sale */

#flash-sale {
	margin-top: 10px;
	width: 100%;
}

#flash-sale div {
	margin: 5px;
	height: 200px;
	border-style: double;
	border-width: 5px;
	border-color: green;
	border-radius: 10px;
	text-align: center;
	align-items: center;
}

/* ---------------------------------------------- flash sale */
#category {
	margin-top: 10px;
	width: 100%;
}

#category div {
	margin: 5px;
	height: 150px;
	border-style: double;
	border-width: 5px;
	border-color: green;
	border-radius: 10px;
	text-align: center;
	align-items: center;
}

/* ---------------------------------------------- adding recently and news */
#recently-and-news {
	float: left;
	display: flex;
	width: 100%;
	margin-top: 10px;
}

#recently-and-news #recently {
	width: 85%;
	height: 800px;
}

#recently-and-news #news {
	width: 15%;
	height: 800px;
}

#recently-and-news div {
	margin: 5px;
	border-style: double;
	border-width: 5px;
	border-color: green;
	border-radius: 10px;
	text-align: center;
	align-items: center;
}
