<!-- Modal -->
<div class="modal fade" id="ModalExtraInfo" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="extra-img">
                    <img>
                </div>
                <div class="extra-info">
                    <table id="tb-bookid" class="table table-info table-hover">
                        <tbody>
                            <tr>
                                <td>Price ($)</td>
                                <td id="tb-price"></td>
                            </tr>
                            <tr>
                                <td>In Stock (unit)</td>
                                <td id="tb-quan"></td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td id="tb-rating"></td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td id="tb-ISBN"></td>
                            </tr>
                            <tr>
                                <td>Publication Year</td>
                                <td id="tb-public"></td>
                            </tr>
                            <tr>
                                <td>Genre</td>
                                <td id="tb-genre">
                                    <a href=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Author</td>
                                <td id="tb-author">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="select">
                    <select name="slct" id="slct">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary adding-cart-ajax">Add to cart</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <hr>

            <div class="carousel-container text-center">
                <hr>
                <h2>Related Books</h2>
                <hr>
                <div id="related-carousel">
                    {% for item in newly_items %}
                    <div>
                        <div class="card" data-id="{{ item.BookID }}" style="width: 200px;height: 400px;">
                            <div class="hvrbox" style="margin-left:5px">
                                <img src="{{ item.ImgUrl }}" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
                                <div class="hvrbox-layer_top">
                                    <div class="hvrbox-text">Click for more details</div>
                                </div>
                            </div>
                            <div class="card-body" style="height: 150px;">
                                <h5 class="card-title" style="font-size: 16px"> {{ item.Title }} </h5>
                                <h4 class="card-text"> {{ item.Price }} $ </h4>
                                <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <hr>
                    <h2>Others also buy</h2>
                    <hr>
                    <div id="also-buy-carousel">
                        {% for item in newly_items %}
                        <div>
                            <div class="card" data-id="{{ item.BookID }}" style="width: 200px;height: 400px;">
                                <div class="hvrbox" style="margin-left:5px">
                                    <img src="{{ item.ImgUrl }}" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
                                    <div class="hvrbox-layer_top">
                                        <div class="hvrbox-text">Click for more details</div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 150px;">
                                    <h5 class="card-title" style="font-size: 16px"> {{ item.Title }} </h5>
                                    <h4 class="card-text"> {{ item.Price }} $ </h4>
                                    <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>