<nav id="my-navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">
        <img src="/static/image/logo/icon-logo-3.png" width="200px" height="80px" style="margin-bottom: 15px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.searching') }}" method="POST">
                    <input name="input-search" class="form-control mr-sm-2" type="search" placeholder="Looking for book..."
                        aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0 " type="submit">Search</button>
                    <button class="btn btn-outline-success my-2 my-sm-0 " type="button" onclick="advance_search()">Advance
                        Search</button>
                </form>
            </li>
            {% if current_user.is_authenticated %}
            <div class="nav-item hover"><a href="/cart">
                    <figure><img style="width: 70px;height: 40px;" src="/static/image/logo/cart.png">
                </a></figure>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fas fa-user"></span>
                        <spann>Welcome, {{ current_user.FirstName }}</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img class='small-ava' src="https://storage.googleapis.com/borestook/userava/{{current_user.ImgUrl}}">
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left"><strong>{{ current_user.FirstName }}
                                            {{current_user.LastName}}</strong></p>
                                    <p class="text-left small">{{current_user.Email}}</p>
                                </div>
                            </div>
                        </div>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{{ url_for('user.account') }}" class="btn btn-primary btn-block btn-sm"
                                                style="color: white">account
                                                details</a>
                                            <a href="{{ url_for('user.change_password') }}" class="btn btn-primary btn-block btn-sm"
                                                style="color: white">Change
                                                password</a>
                                            <a href="{{ url_for('user.ordered_history') }}" class="btn btn-primary btn-block btn-sm"
                                                style="color: white">Ordered History</a>

                                            <a href="{{ url_for('user.logout') }}" class="btn btn-danger btn-block"
                                                style="color: white;">log
                                                out</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            {% else %}
            <li class="nav-item"><a class="nav-link res-log" href="{{ url_for('user.login') }}">Log in</a></li>
            <li class="nav-item"><a class="nav-link res-log" href="{{ url_for('user.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% include 'includes/_adv-search.html' %}