<div class="carousel-genre">
  <div class="genre-container border-green-double">
    <h3 style="text-align: center">Categories</h3>
    <div class="genre-list">
      <p>This is paragraph 1</p>
      <p>This is paragraph 2</p>
      <p>This is paragraph 3</p>
      <p>This is paragraph 4</p>
      <p>This is paragraph 5</p>
      <p>This is paragraph 6</p>
      <p>This is paragraph 7</p>
      <p>This is paragraph 8</p>
      <p>This is paragraph 9</p>
      <p>This is paragraph 10</p>
      <p>This is paragraph 1</p>
      <p>This is paragraph 2</p>
      <p>This is paragraph 3</p>
      <p>This is paragraph 4</p>
      <p>This is paragraph 5</p>
      <p>This is paragraph 6</p>
      <p>This is paragraph 7</p>
      <p>This is paragraph 8</p>
      <p>This is paragraph 9</p>
      <p>This is paragraph 10</p>
      <p>This is paragraph 1</p>
      <p>This is paragraph 2</p>
      <p>This is paragraph 3</p>
      <p>This is paragraph 4</p>
      <p>This is paragraph 5</p>
      <p>This is paragraph 6</p>
      <p>This is paragraph 7</p>
      <p>This is paragraph 8</p>
      <p>This is paragraph 9</p>
      <p>This is paragraph 10</p>
    </div>
  </div>
  <div class="carousel-container text-center">
    <h2>Newly in</h2>
    <div class="card-carousel">
      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

      <div>
        <div class="card" data-id="8621462" style="width: 200px;height: 400px;">
          <div class="hvrbox" style="margin-left:5px">
            <img src="https://images.gr-assets.com/books/1485991317m/8621462.jpg" style="height: 240px" class=" card-img-top hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
              <div class="hvrbox-text">Click for more details</div>
            </div>
          </div>
          <div class="card-body" style="height: 150px;">
            <h5 class="card-title" style="font-size: 16px"> A Monster Calls </h5>
            <h4 class="card-text"> 9.05 $ </h4>
            <button type="button" class="adding-cart btn btn-primary btn-card">Add to cart</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>