<div id="search-box">
	<img src="/static/image/logo/icon-logo-3.png" width="400px" height="130px" alt="">
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Type to search.........." aria-label="Search">
		<button class="btn btn-success my-2 my-sm-0" type="button" >Search</button>
		<button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="advance_search()">Advance Search</button>
	</form>
</div>
<!-- Modal section -->
<div class="div-center">
	<div class="search-modal">
		<div class="search-modal-content">
			<button class="btn btn btn-danger close" onclick="close_search()">X</button>
			<h1>Advance Search</h1>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="filter">Filter by</label>
					<select class="form-control">
						<option value="0" selected>All</option>
						<option value="1">Most popular</option>
						<option value="2">Most popular</option>
						<option value="3">Top rated</option>
						<option value="4">Most commented</option>
					</select>
				</div>
				<div class="form-group">
					<label for="contain">Author</label>
					<input class="form-control" type="text" />
				</div>
				<div class="form-group">
					<label for="contain">Contains the words</label>
					<input class="form-control" type="text" />
				</div>
				<button type="submit" class="btn btn-success">Search<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</form>
		</div>
	</div>
</div>