html, body{
  margin:0 !important;
  padding:0 !important;
}

#bootstrap-overrides .my-container {
	padding: 0;
	margin: 0;
	width: 100%;
}

/* ---------------------------------------------- navigation bar */
#my-navbar {
	position: fixed;
	width: 100%;
	transition: .3s;
	height: 80px;
	z-index: 2;
}

#my-navbar li {
	margin-left: 4px;
	margin-right: 4px;
}

#my-navbar button {
	margin-left: 3px;
	margin-right: 3px;
}

#navbarSupportedContent form button {
	color: white;
	background-color: inherit;
}

#my-navbar input {
	border-radius: 40px;
	width: 500px;
}

#my-navbar a {
	text-transform: uppercase;
	color: white;
	transition: .3s;
}

#my-navbar .active {
	background: #E2472f;
	border-radius: 10px;
}

nav.black {
	background-color: black;
	
	height: 80px;
	border-radius: 0 0 10px 10px;
	border-width: 10px;
}

.dropdown .dropbtn {
	border-radius:  10px 10px 0 0;
	font-size: 20px;
	background-color: green;
	color: white;
}

.dropdown-content {
	display: none;
	width: 100%;
	position: absolute;
	top: 35px;
}
.dropdown-content a {
    float: none;
    display: block;
	text-align: right;
	font-size: 12px;
}

/* ---------------------------------------------- background section */
#sec-background {
	background: url(/static/image/background/books-wallpaper.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}


/* ---------------------------------------------- section search box */
#sec-search-box {
	margin: 10px 5px 0 5px;	
	display: flex;
	height: 130px;
}

#sec-search-box input {
	border-radius: 40px;
	width: 600px;
}

#sec-search-box form button {
	margin-right: 5px;
	border-radius: 5px;
}


/* ---------------------------------------------- advance search box */
.search-modal {
	width: 800px;
	height: 500px;
	position: absolute;
	top: 20%;
	justify-content: center;
	display: none;
	z-index: 1;
}

.advance-search-close-btn{
	float:right;
}

.search-modal-content {
	width: 700px;
	height: 400px;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
}

.search-modal-content button {
	height: 40px;
}

.search-modal-content .close {
	font-size: 50px;
}


/* ---------------------------------------------- section flash sale */
#sec-flash-sale {
	margin: 10px 5px 0 5px;	
	display: flex;
	height: 130px;
}

#sec-flash-sale div {
	text-align: center;
	align-items: center;
}


/* ---------------------------------------------- section category */
#sec-category {
	margin: 10px 5px 0 5px;	
	display: flex;
	height: 130px;
}

#sec-category div {
	text-align: center;
	align-items: center;
}

/* ---------------------------------------------- section items */
#sec-items {
	margin: 10px 5px 0 5px;
}

#sec-items ul {
	list-style: none;
}

#sec-items div {
	text-align: center;
	align-items: center;
	float: left;
	margin: 13px;
}

#page-num {
	width: 100%;
	justify-content: space-around;
    display: flex;
    float: none;
}

.card {
	border-style: double;
	border-width: 5px;
	border-color: green;
}

.card img {
	height: 250px;
}

.card-body {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
}

.card-body h4 {
	position: absolute;
	top: 10px;
}

.card-body h5 {
	font-weight: bold;
}

.card-body div {
	position: absolute;
	bottom: 0;
}

/* -----------------------------------------------modal extra book info*/
#ModalExtraInfo .modal-body div {
	margin: 1%;
	float: left;
}

.extra-img {
	width: 45%;
}

.extra-img img {
	width: 100%;
	height: 100%;
}

.extra-info {
	width: 50%;
}



/* ---------------------------------------------- register login */
.sec-reg-log {
	margin-top: 10px;
	display: flex;
	width: 100%;
	height: 700px;
}

.div-reg-log {
	width: 500px;
}










/*---------------------------------------------------------------------*/
.div-center {
	display: flex;
	justify-content: center;
}

.div-bg-white {
	background-color: white;
}

.border-green-double {
	border-style: double;
	border-width: 5px;
	border-color: green;
	border-radius: 10px;
}

.mr-lr-4 {
	margin-left: 4px;
	margin-right: 4px;
}

.mt--5 {
	margin-top: 40px;
}